.about-me-title h1{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #ccc;
    font-family: Manrope;
}

.about-me-container{
    font-family: Manrope;
}

.about-me-text-container{
    width: 60%
}

.about-me-image-container{
    width: 50%
}

.about-me-img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .about-me-text-container{
        width: 100%;
        font-weight: 700;
    }

    .about-me-image-container{
        width: 100%
    }
}
    
